@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Anton&family=Lobster&family=Roboto+Mono&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
}

$pallete-1: #fcfcfc;
$pallete-2: #f7567c;
$pallete-3: #fffae3;
$pallete-4: #99e1d9;
$pallete-5: #5d576b;
$pallete-6: #1f1c22;

em {
    color: $pallete-4;
}

nav {
    height: 3.5em;
    background-color: $pallete-5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    gap: 10rem;

    .header-link {
        text-decoration: none;
    }

    .title-text {
        font-family: Anton;
        color: $pallete-1;
        letter-spacing: 0.125em;
        font-size: 2rem;
        margin-left: 2rem;
    }

    .title-text:hover {
        border-bottom: 3px solid $pallete-2;
    }

    .my-work-btn {
        font-size: 2rem;
        font-family: "Roboto Mono";
        font-weight: bold;
        text-decoration: none;
        color: $pallete-4;
    }

    .my-work-btn:hover {
        border-bottom: 3px solid $pallete-2;
    }

    .arangement {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 90%;
        margin: 5% 0;
        gap: 2rem;
    }
}

.main {
    background:linear-gradient($pallete-5 0%, $pallete-5 7% , $pallete-6 100%);
    padding: 5rem 1rem;
    width: 100vw;
    min-height: 100vh;

}


.section {
    min-height: 3rem;
    margin-left: -1rem;

    .header {
        font-family: Lobster;
        text-align: center;
        font-size: 7rem;
        color: $pallete-3;
    }

    .paragraph {
        text-align:center;
        font-size: 2rem;
        font-family: "Roboto Mono";
        max-width: 50vw;
        display: block;
        margin: 0 auto;
        color: $pallete-3;
    }


    .row {
        display: flex;
        justify-content: space-around;
        max-width: 80vw;
        align-items: center;
    }

    .divider {
        height: 1px;
        width: 70%;
        background-color: #fffae3;
        margin: 1.5rem auto;
    }
}

.main.my-work {
   
    .title {
        font-family: Lobster;
        letter-spacing: 0.3rem;
        font-size: 5rem;
        margin-left: 15%;
        color: $pallete-4;
        text-decoration: underline;
    }

.main-grid {
    width: 70%;
    min-height: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 3rem;
    margin: 2rem auto;

    

    .work-example-container {
        width: 100%;
        text-decoration: none;

        .img {
            width: 100%;
        }

        .caption {
            font-family: "Roboto Mono";
            color: $pallete-1;
            padding-bottom: 1rem;
            
        }
    }

    .work-example-container:hover {
        .caption {
            border-bottom: 2px solid $pallete-4;
        }
    }
    
}
}

footer {
    width: calc(100vw + 2rem);
    min-height: 6rem;
    background-color: rgb(46, 46, 46);
    position: inital;
    margin-bottom: -5rem;
    margin-left: -1rem;
    margin-top: 4rem;
    display:flex;
    justify-content: flex-start;
    align-items: center;

    .column {
        border-right: solid 1px black;
        padding: 1rem;

        .header {
            font-size: 1.25rem;
            color: $pallete-4;
            font-family: "Roboto Mono";
            display: block;
        }

        a.social {
            text-decoration: none;
            color: $pallete-4;
            font-family: Lobster;
            display: block;
            margin-top: 0.1rem;
        }

        a.social:hover {
            color: $pallete-2;
        }

        .text {
            font-size: 1rem;
            color: $pallete-4;
            font-family: Lobster;
            margin-top: 0.5rem;

        }

        button.copy {
            background-color: transparent;
            border: 0;
            color: $pallete-4;
            font-family: "Roboto Mono";
            display: block;
            margin: 0.1rem auto;
            font-size: 1.25rem;
        }

        button.copy:hover {
            color:rgb(46, 46, 46);
            background-color: $pallete-4;
        }
    }
}

div.welcome-container {
    width: 100%;
    height: 100vh;

    h1.title-text {
        color: $pallete-4;
        font-family: Anton;
        font-size: 25vw;
        text-align: center;
        display: block;
        margin: auto auto;
    }

    h2.sub-text {
        text-align: center;
        font-family: "Roboto Mono";
        font-size: calc(10vw/7);
        color: $pallete-4;
        text-decoration: underline;
    }

    h2.sub-text:hover {
        color: $pallete-2;
    }

    #scroll-btn {
        display: block;
        margin: -2vw auto 0 auto;
        background-color: transparent;
        border: none;
    }
}

#home-page-good-photo-1 {
    width: 17rem; 
    height: 34rem;
    border-radius: 3px; 
    aspect-ratio: 0.5 !important;
}

.main-grid {
    display: grid;
}

.main.the-gym {
   
    .title {
        font-family: Lobster;
        letter-spacing: 0.3rem;
        font-size: 5rem;
        margin-left: 15%;
        margin-bottom: 0.5rem;
        color: $pallete-4;
        text-decoration: underline;
        
    }

    h2.title {
        font-size: 3rem;
        text-decoration: none;
    }

    h3.title {
        font-size: 2rem;
        text-decoration: none;
        color: $pallete-2;
        margin-top: 1rem;
    }

    .pr-table {
        display: grid;
        grid-template-columns: 100%;
        margin-left: 15%;
        width: 70%;
        border-top: 3px solid $pallete-2;
        padding-top: 1rem;
        .row {
            display: grid;
            grid-template-columns: 40% 60%;
            border-bottom: 1px solid $pallete-1;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            .exercise {
                color: $pallete-1;
            }
            .weight {
                color: $pallete-2;
                text-align: center;
            }

            .exercise, .weight {
                
                font-size: 3.5rem;
                font-family: "Roboto Mono"
            }
        }
    }

    .programming-table {
        border-top: 3px solid $pallete-2;
        width: 70%;
        margin-left: 15%;

        .header-row, .content-row {
            display: grid;
            grid-template-columns: 60% 20% 20%;
            margin-top: 0.5rem;
        }

        .header-row {
            .header {
                text-align: center;
                font-size: 1.5rem;
                color: $pallete-1;
                font-family: "Roboto Mono";
            }
        }

        .content-row {
            .content {
                font-size: 1.5rem;
                color: $pallete-2;
                font-family: "Roboto Mono";
                text-align: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .section .row {
        flex-direction: column;   
        margin: 0 auto;
        * {
            margin: 1rem auto;
        }
    }

    .welcome-container #scroll-btn h2.sub-text {
        font-size: calc(20vw/7);
        margin-top: 3vw;
    }

    .section .header {
        font-size: 5rem;
    }

    .section .paragraph {
        max-width: 80vw;
    }

    #home-page-good-photo-1 {
        width: 60vw;
        height: 120vw;
    }


    .section:nth-last-child(2) {
        margin-bottom: 10rem;
    }

    footer {
       flex-direction: column;
       
       .column {
        width: 100%;
        border-bottom: 1px $pallete-4 solid ;
        padding: 1rem 0;
        
        * {
            text-align: center;
        }

       }

    }

    .main {
        padding-top: 9rem;
    }

    nav {
        margin-top: 3rem;
        gap: 5rem;
    }

    .main.the-gym .pr-table .row .exercise,.main.the-gym .pr-table .row .weight {
        font-size: 2rem;
    }

    .main.the-gym {
        margin-left: -2rem;
    }

}
