@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Anton&family=Lobster&family=Roboto+Mono&display=swap');
/*
$pallete-1a: #fcfcfc;
$pallete-2a: #f7567c;
$pallete-3a: #fffae3;
$pallete-4a: #99e1d9;
$pallete-5a: #5d576b;
$pallete-6a: #1f1c22;



$pallete-1c: #C2F216;
$pallete-2c: #85A60F;
$pallete-3c: #5C730A;
$pallete-4c: #EBF21B;
$pallete-5c: #0D0D0D;

$pallete-1d: #F2EAE4;
$pallete-2d: #736F6C;
$pallete-3d: #262524;
$pallete-4d: #BFB8B4;
$pallete-5d: #0D0D0D;
*/
$pallete-1: #8C1F28;
$pallete-2: #591C21;
$pallete-3: #044040;
$pallete-4: #D92525;
$pallete-5: #F2F2F2;

@keyframes turn-90 {
    from {
        transform:rotate(0deg);
        
    }
    to {
        transform:rotate(90deg);
        
    }
}

@keyframes cropper-ani {
    from {
        width: 0%;
        
    }
    to {
        width: 100%;
        
    }
}

@keyframes underline {
    from {
        
    }
    to {
        border-bottom: #044040 5px solid;
    }
}

@keyframes g-to-r {
    from {
        color: $pallete-3;
    }

    to {
        color: $pallete-4;
    }
}

@keyframes left-to-right {
    0% {
        width:100vw;
    }

    

    100% {
        width: 30vw;
    }
}

html:not([data-scoll='0']) {
    #photo-home-1 {
        animation-name: turn-90;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
}

em {
    font-style: normal;
    font-weight: 750;
    color: $pallete-3
}



.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 200,
    'opsz' 40
  }

#drop-down-icon {
    font-size: 4rem;
}

.dropdown-content {
    display: none;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
      
}

.cropper {
    overflow:hidden;
}

.dropdown:hover {
    #drop-down-icon {
        animation-name: turn-90;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    }
    .dropdown-content {
     display: block;   
    }
    
    .cropper {
        animation-name: cropper-ani;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.37,.82,.27,.83);

        a {
            animation-name: g-to-r;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }

    }

}

#photo-home-1 {
    aspect-ratio: 1;
    height: 25vw;
    margin-left:-10vw;
    margin-top: 3rem;
    position: relative;
    border-radius: 50%;
    
}



.nav-title:hover {
    padding-bottom: 0.5rem;
    animation-name: underline;
    animation-duration: 1s;
    animation-fill-mode: forwards;



}

.para-1 {
    $width: 30vw;
    width: $width;
    margin: 2rem calc((66vw - 30vw)/2) 0 calc((66vw - 30vw)/2);
    text-align: center;
}

.social-nav-ico {
    width: 4rem;
    height: 4rem;
}

.circle-bg {
    width: calc(100vw/12);
    aspect-ratio: 1;
    //border-radius: 50%;
}


.tag-sect {
    display: grid;
    grid-template-columns: 1fr;
    

    h3 {
        color: #F2F2F2;
        text-align: left;
        font-size: 2.5rem;
        background-color: #591C21;
        padding: 0.5rem 0 0.5rem 1rem;
    }

    div {
        min-height: 2rem;
        background-color: #044040;

        p {
            padding: 2rem 0 2rem 5rem;
            font-size: 1.5rem;
            color: #F2F2F2;
            max-width: 60vw; 

            i {
                color: #d6b657;
            }

        }
    }

    
}

