@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Roboto+Mono&display=swap");
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
}

em {
  color: #99e1d9;
}

nav {
  max-width: 100vw;
  height: 3.5em;
  background-color: #5d576b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
}
nav .title-text {
  font-family: Anton;
  color: #fcfcfc;
  letter-spacing: 0.125em;
  font-size: 2rem;
  margin-left: 2rem;
}
nav .arangement {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  margin: 5% auto;
}

.main {
  background: linear-gradient(#5d576b 0%, #5d576b 7%, #1f1c22 100%);
  padding: 5rem 1rem;
  max-width: 100vw;
}

.section {
  min-height: 3rem;
}
.section .header {
  font-family: Lobster;
  text-align: center;
  font-size: 7rem;
  color: #fffae3;
}
.section .paragraph {
  text-align: center;
  font-size: 2rem;
  font-family: "Roboto Mono";
  max-width: 50vw;
  display: block;
  margin: 0 auto;
  color: #fffae3;
}
.section .row {
  display: flex;
  justify-content: space-around;
  max-width: 80vw;
  align-items: center;
}
.section .divider {
  height: 1px;
  width: 70%;
  background-color: #fffae3;
  margin: 1.5rem auto;
}

.section:nth-last-child(2) {
  margin-bottom: 4rem;
}

footer {
  width: calc(100vw + 2rem);
  min-height: 6rem;
  background-color: rgb(46, 46, 46);
  position: inital;
  margin-bottom: -5rem;
  margin-left: -1rem;
  display: flex;
}
footer .column {
  border-right: solid 1px black;
  padding: 1rem;
}
footer .column .header {
  font-size: 1.25rem;
  color: #99e1d9;
  font-family: "Roboto Mono";
  display: block;
}
footer .column a.social {
  text-decoration: none;
  color: #99e1d9;
  font-family: Lobster;
  display: block;
  margin-top: 0.1rem;
}
footer .column a.social:hover {
  color: #f7567c;
}
footer .column .text {
  font-size: 1rem;
  color: #99e1d9;
  font-family: Lobster;
  margin-top: 0.5rem;
}
footer .column button.copy {
  background-color: transparent;
  border: 0;
  color: #99e1d9;
  font-family: "Roboto Mono";
  display: block;
  margin: 0.1rem auto;
  font-size: 1.25rem;
}
footer .column button.copy:hover {
  color: rgb(46, 46, 46);
  background-color: #99e1d9;
}

div.welcome-container {
  width: 100%;
  height: 100vh;
}
div.welcome-container h1.title-text {
  color: #99e1d9;
  font-family: Anton;
  font-size: 25vw;
  text-align: center;
  display: block;
  margin: auto auto;
}
div.welcome-container h2.sub-text {
  text-align: center;
  font-family: "Roboto Mono";
  font-size: 1.4285714286vw;
  color: #99e1d9;
}
div.welcome-container h2.sub-text:hover {
  color: #f7567c;
}
div.welcome-container #scroll-btn {
  display: block;
  margin: -2vw auto 0 auto;
  background-color: transparent;
  border: none;
}

#home-page-good-photo-1 {
  width: 17rem;
  height: 34rem;
  border-radius: 5px;
  box-shadow: 4px 4px #fcfcfc;
  aspect-ratio: 0.5 !important;
}

@media (max-width: 768px) {
  .section .row {
    flex-direction: column;
    margin: 0 auto;
  }
  .section .row * {
    margin: 1rem auto;
  }
  .welcome-container #scroll-btn h2.sub-text {
    font-size: 2.8571428571vw;
    margin-top: 3vw;
  }
  .section .header {
    font-size: 5rem;
  }
  .section .paragraph {
    max-width: 80vw;
  }
  #home-page-good-photo-1 {
    width: 34rem;
    height: 68rem;
  }
}/*# sourceMappingURL=globals.css.map */